.box 
{
     background-color:blueviolet;
     color: white;
     min-height: 100px;
     text-align: center;
 }
    
.box2 {
     background-color: rgb(241, 135, 238);
     color: white;
     min-height: 100px;
     text-align: center;
}
@media screen and (min-width: 650px)
{
    body{
        background-color: #000;
        color: #FFF;
        font-family: "Comic Sans MS" , "Comic Sans", cursive;
    }
}